extends base

block content
  main.main
    if user
      .error
        .error__title
          h2.heading-secondary.heading-secondary--error WRONG ROUTE
          h2.error__emoji 😁 🤣
        .error__msg There's no need to reset your password, just visit your dashboard!
    else
      .login-form#resetPasswordToken(data-token=`${token}`)
        h2.heading-secondary.ma-bt-lg Choose your new password
        form.form.form--resetPassword
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
            label.form__label(for='passwordConfirm') Confirm your password
            input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Confirm